* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cont {
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

.inputSec {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.input {
    padding: 5px 10px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.add-bttn {
    padding: 5px 10px;
    background: yellow;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 3px 3px 0px rgba(255, 255, 0, 0.649);
    transition: all 0.3s ease;
}

.add-bttn:hover {
    box-shadow: none;
}

.todos {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.todo {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 400px;
    padding: 10px;
    background: #fff;
    border-radius: 5px;

}

.todo-content {
    font-size: 18px;
    font-weight: bold;
    width: 100%;
}

.delete-bttn,
.edit-bttn,
.save-bttn {
    cursor: pointer;
    height: 100%;
    padding: 5px 10px;
    border: none;
    outline: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.649);
    transition: all 0.3s ease;
}

.delete-bttn:hover,
.edit-bttn:hover,
.save-bttn:hover {
    box-shadow: none;
}

.delete-bttn {
    background: red;
}

.edit-bttn {
    background: rgb(255, 149, 0);
}

.save-bttn {
    background: rgb(0, 187, 0);
}

.done-editing {
    outline: none;
    border: none;
}

.input:focus {
    outline: 3px solid rgb(0, 123, 255);
}